# ignore node dependency directories
node_modules/

# ACF
acf-json/
acf-json/*

# exclude gulp files
gulpconfig.json
gulpfile.js
package.json
package-lock.json
.DS_Store
css/theme.css
css/theme.min.css
css/theme.min.css.map