.blog-wrapper {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    .header-caption {
        width: 100%;
        height: 100px;
        // overflow: hidden;
        padding-bottom: 110px;

        h1 {
            color: #FFFFFF;
            font-family: "Nunito", Sans-serif;
            font-size: 55px;
            font-weight: 800;
            width: 100%;
            text-align: center;
            margin-top: 200px;
            padding-bottom: 100px;
        }

    }

    .bottom {
        position: relative;
        bottom:-1px;
        transform: rotate(180deg);

    }

    .shape svg {
        display: block;
        width: calc(100% + 1.3px);
        position: initial;
        left: 50%;
    }

    .shape .shape-fill {
        fill: #EDEDED;
        transform-origin: center;
        transform: rotateY(0deg)
    }
}

.categories {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .blog-filters {
        text-align: center;
        
        
        ul {
            
            li {
                display: inline-block;
                vertical-align: middle;
                margin-right: 25px;
                margin-bottom: 15px;
                width: 220px;
                
                
                &:last-of-type {
                    margin-right: 0;
                }
                a {
                    font-family: "Nunito", Sans-serif;
                    font-weight: bold;
                    background-color: #F36C2A;
                    display: block;
                    color: #fff;
                    border-radius: 25px;
                    padding: 12px 24px;
                    text-transform: uppercase;
                    text-align: center;
                    
                }
                &.current-cat {
                    a {
                        background-color: #F36C2A;
                    }
                }
            }
        }
    }

    .bottom {
        position: relative;
        bottom: -1px;
        transform: rotate(180deg);
        .shape-fill {
            fill: #fff;
            transform-origin: center;
            transform: rotateY(0deg)
        }
    }

    .top {
        position: relative;
        .shape-fill {
            fill: #EDEDED;
            transform-origin: center;
            transform: rotateY(0deg)
        }
    }

    .shape svg {
        display: block;
        width: calc(100% + 1.3px);
        position: initial;
        left: 50%;
        opacity: 1;
    }

}

#blog-listing, #advanced-posts {
    padding-top: 50px;
    padding-bottom: 20px;
    &-in {
        max-width: 1454px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        .height {
            display: flex;
            width: 100%;
            .height-fit {
                flex: 1;
            }
        }
        .blog-box {
            margin-bottom: 30px;
            .blog-photo {
                position: relative;
                height: 260px;
                margin-bottom: 40px;
                // @include bp(desktop){
                //     height: 360px;
                // }
                // @include bp(lg) {
                //     height: 321px;
                // }
                // @include bp(md) {
                //     height: 280px;
                //     margin-bottom: 0;
        
                // }
                // @include bp(sm-down) {
                //     height: 250px;
                // }
                .parent{
                    height: 100%;
                    .img-responsive {
                        object-fit:cover;
                        height: 100%;
                        width: 100%;
                        position: relative;
                    }
                }
                a {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    &:after {
                        content: '';
                        display: block;
                        // background-color: rgba($orange, 0.8);
                        opacity: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        // @include animate-fade;
                        z-index: 1;
                        border-radius: 40px;
                    }
                    &:hover {
                        span {
                            opacity: 1;
                            margin-top: 0;
                        }
                        &:after {
                            opacity: 1;
                        }
                    }
                    span {
                        width: 64px;
                        height: 64px;
                        background: #fff;
                        text-align: center;
                        line-height: 64px;
                        border-radius: 100%;
                        // @include centre(both);
                        display: block;
                        color: #000;
                        font-size: 24px;
                        margin-top: 20px;
                        opacity: 0;
                        z-index: 2;
                        // @include animate-fade;
                    }
                }
                
            }
            .blog-content{
                h2 {
                    // position: absolute;
                    font-family: "Nunito", Sans-serif;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 1.464;
                    color: #54595F;
                    margin-bottom: 10px;
                }  
                .author-date{
                    line-height: 1.3em;
                    font-size: 12px;
                    font-weight: 500;
                    margin-bottom: 13px;
                    color: #adadad;
                    .date{
                        &:before{
                            content: '///';
                            margin-right: 5px;
                        }
                    }                    
                }  
                .single-author-date{
                    border-top: 1px solid #EDEDED;
                    line-height: 1.3em;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 13px;
                    color: #adadad;
                }
                p{
                    margin: 0;
                    line-height: 1.5em;
                    font-size: 14px;
                    color: #777;
                }
                .read-more{
                    margin-top: 35px;
                    a{
                        color: #F36C2A;
                    }
                }
            }
            
        }
        .author-blog-box {
            margin-bottom: 230px;
            margin-top: -200px;
            border: .1px solid transparent;
            box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
            .blog-photo {
                position: relative;
                height: 260px;
                margin-bottom: 20px;
                // @include bp(desktop){
                //     height: 360px;
                // }
                // @include bp(lg) {
                //     height: 321px;
                // }
                // @include bp(md) {
                //     height: 280px;
                //     margin-bottom: 0;
        
                // }
                // @include bp(sm-down) {
                //     height: 250px;
                // }
                .parent{
                    height: 100%;
                    .img-responsive {
                        object-fit:cover;
                        height: 100%;
                        width: 100%;
                        position: relative;
                    }
                    p{
                        position: absolute;
                        font-family: Nunito,Sans-serif;
                        font-size: 12px;
                        font-weight: 700;
                        color: #fff;
                        background-color: #F36C2A;
                        margin: 20px;
                        top: 0;
                        right: 0;
                        border: 2px solid #f36c2a;
                        border-radius: 25px;
                        padding: 8px 30px;
                    }
                }
                a {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    &:after {
                        content: '';
                        display: block;
                        // background-color: rgba($orange, 0.8);
                        opacity: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        // @include animate-fade;
                        z-index: 1;
                        border-radius: 40px;
                    }
                    &:hover {
                        span {
                            opacity: 1;
                            margin-top: 0;
                        }
                        &:after {
                            opacity: 1;
                        }
                    }
                    span {
                        width: 64px;
                        height: 64px;
                        background: #fff;
                        text-align: center;
                        line-height: 64px;
                        border-radius: 100%;
                        // @include centre(both);
                        display: block;
                        color: #000;
                        font-size: 24px;
                        margin-top: 20px;
                        opacity: 0;
                        z-index: 2;
                        // @include animate-fade;
                    }
                }
                
            }
            
            .author-blog-content{
                
                h2 {
                    // position: absolute;
                    font-family: "Nunito", Sans-serif;
                    font-weight: 600;
                    font-size: 21px;
                    line-height: 1.464;
                    color: #54595F;
                    margin-bottom: 10px;
                    padding: 8px 30px;

                }  
                
                .single-author-date{
                    border-top: 1px solid #EDEDED;
                    line-height: 1.3em;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 13px 30px;
                    color: #adadad;
                }
                p{
                    padding: 0 30px;
                    margin: 0;
                    line-height: 1.5em;
                    font-size: 14px;
                    color: #777;
                }
                .read-more{
                    margin-top: 25px;
                    margin-bottom: 10px;
                    padding: 0 30px;

                    a{
                        color: #F36C2A;
                    }
                }
            }
        }
    }
    .custom-pagination {
        margin-top: 20px;
        text-align: center;
        // @include bp(sm-down) {
        //     margin-top: 0;
        // }
        span.pages {
            display: none!important;
        }
        a, span {
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
            // font-family: $stol-bold;
            font-family: "Nunito", Sans-serif;

            font-size: 15px;
            line-height: 20px;
            text-align: left;
            color: #fff;
            border-radius: 20px;
            background: #F26624;
            border: 1px solid #fff;
            text-align: center;
            height: 44px;
            line-height: 44px;
            padding-top: 0px;
            padding-bottom: 0px;
            min-width: 40px;
            // @include bp(sm-down) {

            // }
            &:first-of-type {
                margin-left: 5px;
            }
            &:last-of-type {
                margin-right: 0;
            }
            &:hover {
                border-color: #F36C2A;
                a {
                    color: #fff;
                    background-color: #F36C2A;
                    
                }
            }
            a {
                display: block;
                color: inherit;
                width: 100%;
                height: 100%;
            }
            &.active {
                border-color: #F36C2A;
                a {
                    color: #F19A2C;
                    background-color: #fff;
                }
            }
            &.pagination-omission {
                margin-left: 0;
            }
        }
    }
    
    
}


    
.blog-detailed--intro{
    // background-color: transparent;
    background-image: linear-gradient(260deg, #F36C2A 0%, #FDA24C 100%);
    padding-bottom: 100px;
    text-align: center;
    h1{
        color: #ffffff;
        font-family: "Nunito", Sans-serif;
        font-size: 45px;
        font-weight: 600;
        text-transform: capitalize;
        margin-top: 100px;
        margin-bottom: 30px;
    }
    .author{
        display: flex;
        margin-bottom: 30px;
        img{
            border-radius: 50%;
            margin-left: 370px;
            margin-right: 20px;
        }

        .author-content{
            padding-top: 20px;
            a{
                color: #fff;
            }
        }
    
        
    }
    .author-single{
        display: flex;
        align-items: center;
        text-align: left;
        padding-top: 100px;
        // padding-bottom: -50px;
        img{
            border-radius: 68px;
            height: 160px;
            width: 160px;
            // margin-left: 370px;
            margin-right: 20px;
        }

        .author-content{
            h4{
                color: #FFFFFF;
                font-family: "Nunito", Sans-serif;
                font-size: 56px;
                font-weight: 600;
                word-spacing: 2px;
                margin-bottom: 15px;
            }
        }
    
        
    }
    .date{
        color: #fff;
        margin-right: 10px;
    }
    .cat-link{
        color: #fff;
        a{
            color: #fff;
        }
    }
    
}
.blog-detailed-bottom{
        // fill: linear-gradient(260deg, #F36C2A 0%, #FDA24C 100%);
        position: relative;
        bottom: -105px;

    svg{
        // width: 100%;
        height: 250px;
        transform: translateX(-0%) rotateY(0deg);
    }
    .shape-fill {
        // fill: linear-gradient(260deg, #F36C2A 0%, #FDA24C 100%);
        // background: linear-gradient(260deg, #F36C2A 0%, #FDA24C 100%);
        
        // background-image: linear-gradient(260deg, #F36C2A 0%, #FDA24C 100%);

        fill: #fff;
        transform-origin: center;
        // transform: rotateY(0deg);
        transform: rotateX(180deg);

    }
}

.blog-detailed--body{
    margin-top: -300px;
    img{
        width: 100%;
        // margin-bottom: .5em;


    }
    .blog-photo{
        
        .blog-photo--description{
            position: relative;
            font-size: 16px;
            color: #333;
            line-height: 1.4;
            font-style: italic;
            font-weight: 400;
            margin-bottom: 1em;
            margin-top: .5em;
        }
    }
    .blog-photo:first-of-type{
        img{
            border-radius: 10px 10px 10px 10px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
            margin-bottom: 45px;
        }
    }
    p{
        color: #000000;
        font-family: "Nunito", Sans-serif;
        font-size: 17px;
        line-height: 1.6em;
        font-weight: 400;
        margin-bottom: 15px;
    }
    b, strong{
        font-weight: bolder;
    }
    a{
        color: #F36C2A;
    }
    h2, h3{
        margin-top: .5rem;
        margin-bottom: 1rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.75rem;
    }
    ul {
        margin-bottom: 30px;
        li {
            display: block;
            margin-left: 14px;
            font-size: 18px;
            line-height: 1.4;
            margin-bottom: 10px;
            a {
                color:#F36C2A;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }                
            &:before {
                content: "\2022";
                color: #F36C2A;
                font-weight: 700;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
            }
        }
    }
    .blog-detailed--accordion {
        margin-top: 25px;
        margin-bottom: 40px;
        .wrap {
            padding-left: 35px;
            border-bottom: 1px solid #ddd;
            // @include bp(md) {
            //     padding-left: 0px;
            // }
            // &:nth-of-type(even) {
            //     @include bp(md) {
            //         margin-right: 0;
            //     }
            // }
            &:after {
                content: '';
                display: table;
                clear: both;
            }
            // @include bp(sm-down) {
            //     display: block;
            //     width: 100%;
            //     margin-right: 0;
            //     padding-left: 0;
            // }
            >.answer {
                display: none;
            }
        }
        .question{
            display: flex;
            width: 100%;
            position: relative;
            h4 {
                font-size: 1.125em;
                line-height: 1.555;
                text-align: left;
                // color: rgba(#000, .5);
                background-color: #fff;
                position: relative;
                margin: 0;
                border:0;
                // @include bp(desktop){
                // }
                // @include bp(lg) {

                // }
                // @include bp(md) {

                // }
                // @include bp(sm-down) {
                // }
                &:hover {
                    cursor: pointer;
                    color: #000;
                }
                &:focus {
                    outline: none!important;
                }
                
            }
            .fa-arrow-right{
                margin-top: 5px;
                position: absolute;
                right: 0;
                display: block;
              
            }
            .fa-arrow-down{
                margin-top: 5px;
                position: absolute;
                right: 0;
                display: none;
            }
            
        }
        .click.rotate{
            .fa-arrow-right{
                display: none;
            }
            .fa-arrow-down{
                display: block;
            }
        }
        
        
        .ui-accordion-content, .wrap div {
            padding: 22px 19px;
            padding-top: 12px;
            border:0;
            float: left;
            p {
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
    .single-table {
        // @include bp(sm-down) {
        //     display: block;
        //     overflow-x: auto;
        //     white-space: nowrap;
        // }
        margin-bottom: 20px;


        th {
            border: 1px solid;
            background-color: hsla(0,0%,50.2%,.0705882353);
            color: #000;
            padding: .7em;
            line-height: 1.3;
        }
        td {
            border: 1px solid;
            padding: .7em;
            line-height: 1.3;
        }
        tbody > tr:nth-child(2n+2) > td {
            background-color: hsla(0,0%,50.2%,.0705882353);
        }
        tbody > tr:nth-child(2n+1):hover {
            background-color: hsla(0,0%,50.2%,.0705882353);
        }
    }  
    .blog-video {
        text-align: center;
        iframe {
            max-width: 100%;
        }
    } 
    .featured-article {
        .blog-box {
            background-color: #F36C2A;
            padding: 40px;
            border-radius: 40px;
            margin: 30px 0;
            .blog-photo {
                display: inline-block;
                width: 40%;
                vertical-align: middle;
                margin: 0 !important;
                margin-right: 30px;
                // @include bp(sm-down) {
                //     width: 100%;
                //     margin-bottom: 20px !important;
                // }
                .parent{
                    position: relative;
                    .img-responsive {
                        max-width: 100% !important; 
                        margin-bottom: 0;
                        border-radius: 40px;
                    }
                    // .featuredoverlayimage {
                    //     max-width: 100% !important; 
                    //     position: absolute;
                    //     left: 0;
    
                    // }
                }
            }
            .blog-content {
                display: inline-block;
                width: 55%;
                height: 100%;
                vertical-align: middle;
                margin-left: 30px;
                // @include bp(sm-down) {
                //     margin-left: 0;
                //     width: 100%;
                //     text-align: center;
                // }
                a{
                    // margin-bottom: 50px;
                    h3 {
                        margin-top: 0 !important;
                        font-size: 1.8em !important;
                        color: #000;
                        margin-bottom: 50px;
                        // @include bp(sm-down) {
                        //     text-align: center;
                        //     margin-bottom: 35px !important;
                        //     font-size: 1.2em !important;
                        // }
                    }

                }
                
                .read-more {
                    display: flex;
                    // margin-top: 50px;
                    // @include bp(sm-down) {
                    //     text-align: center;
                    // }
                    a {
                        background-color: #000;
                        padding: 20px 40px;
                        color: #fff;
                        border-radius: 25px;
                    }
                }
            }
        }
    }
    .quote-cta--single {
        margin: 30px 0;
        padding:35px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #25242A;
        // @include bp(sm-down) {
        //     display: block;
        //     padding:25px;
        //     text-align: center;
        // }
        span.title {
            display: block;
            width: 65%;
            color:#fff;
            font-size: 40px;
            margin-right: 20px;
            line-height: 1.2;
            // @include bp(sm-down) {
            //     margin-right: 0px;
            //     margin-bottom: 20px;
            //     font-size: 30px;
            //     width: 100%;
            // }
        }
        a.btn-cta {
            padding: 0;
            border: 0;
            height: 86px;
            text-align: center;
            border-radius: 25px;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: #F36C2A;
            background-image: none;
            font-family: "Nunito", Sans-serif;

            font-size: 1.250em;
            color: #fff;
            width: 240px;
            line-height: 86px;
            // @include bp(lg) {
            //     line-height: 75px;
            // }
            // @include bp(md) {
            //     line-height: 65px;
            // }
            // @include bp(sm-down) {
            //     width: 100%;
            //     display: block;
            //     line-height: 55px;
            // }
        }
    }
    
}

.blog-detailed--accordion-wrap {
    margin-top: 30px;
    margin-bottom: 60px;
    // @include bp(sm-down) {
    //     margin-top: 0;
    //     margin-bottom: 0;
    // }
    h3 {
        margin-top: 30px;
    }
    .blog-photo {
        margin-top: 0px;
        // @include bp(lg) {
        //     width: 400px;
        // }
    }
    .blog-video {
        text-align: center;
        iframe {
            max-width: 100%;
        }
    }
}

#advanced-posts {
    padding: 50px 0;
    
    .blog-photo {
        .parent{
            position: relative;
            .img-responsive {
                width: 100%;
                display: block;
                border-radius: 9px;
                object-fit: cover;
                height: 300px;
                margin-bottom: 15px;
            }
            // .overlayimage {
            //     width: 100%;
            //     display: block;
            //     border-radius: 9px;
            //     height: 100%;
            //     position: absolute;
            //     top: 0;
            // }
        }
    }
    .blog-content {
        .blog-content--in {
            padding: 0;
        }
        width: 100%;
        margin-top: 0;
        .read-more{
            display: inline-block;
            background-color: #F36C2A;
            text-align: center;
            padding: 16px 24px;
            border-radius: 25px;
            text-transform: uppercase;
            letter-spacing: 1px;
            a{
                font-family: "Nunito", Sans-serif;
                color: #fff;
                font-size: 16px;
                line-height: 100%;

            }
    }
    }
    h2 {
        margin-bottom: 40px;
        font-size: 32px;
        font-family: "Nunito", Sans-serif;

    }
    h3 {
        font-size: 1.3rem;
        margin-bottom: 10px;
        color: #000;
        // @include animate-fade;
        &:hover {
            color:#F36C2A;
        }
    }
}
