// Hero section

.hero-section {
    margin-top: 100px;
    .hero-content {
        padding: 150px 0;
        @include bp(mobile-all) {
        padding: 150px 15px 120px;
        }
        h1 {
            font-size: 40px;
            font-weight: 600;
            color: #000;
            padding-bottom: 90px;
        }
        .hero-title-below {
            font-size: 40px;
            color: #f36c2a;
            font-weight: 900;
            position: absolute;
            opacity: 0;
            top: 190px;
            overflow: hidden;
            color: #f36c2a;
            -webkit-animation: rotateWord 14s linear infinite 0s;
            -ms-animation: rotateWord 14s linear infinite 0s;
            animation: rotateWord 14s linear infinite 0s;
            @include bp(laptop) {
              top: 240px;
            }
            &:nth-child(2) {
                -webkit-animation-delay: 2s;
                -ms-animation-delay: 2s;
                animation-delay: 2s;
                color: #f36c2a;
            }
            &:nth-child(3) {
                -webkit-animation-delay: 4s;
                -ms-animation-delay: 4s;
                animation-delay: 4s;
                color: #f36c2a;
            }
            &:nth-child(4) {
                -webkit-animation-delay: 6s;
                -ms-animation-delay: 6s;
                animation-delay: 6s;
                color: #f36c2a;
            }
            &:nth-child(5) {
                -webkit-animation-delay: 8s;
                -ms-animation-delay: 8s;
                animation-delay: 8s;
                color: #f36c2a;
            }
            &:nth-child(6) {
              -webkit-animation-delay: 10s;
              -ms-animation-delay: 10s;
              animation-delay: 10s;
              color: #f36c2a;
          }
          &:nth-child(7) {
            -webkit-animation-delay: 12s;
            -ms-animation-delay: 12s;
            animation-delay: 12s;
            color: #f36c2a;
        }
            @-webkit-keyframes rotateWord {
                0% {
                  opacity: 0;
                }
                2% {
                  opacity: 0;
                  -webkit-transform: translateY(-30px);
                }
                5% {
                  opacity: 1;
                  -webkit-transform: translateY(0px);
                }
                17% {
                  opacity: 1;
                  -webkit-transform: translateY(0px);
                }
                20% {
                  opacity: 0;
                  -webkit-transform: translateY(30px);
                }
                80% {
                  opacity: 0;
                }
                100% {
                  opacity: 0;
                }
              }
              
              @-ms-keyframes rotateWord {
                0% {
                  opacity: 0;
                }
                2% {
                  opacity: 0;
                  -ms-transform: translateY(-30px);
                }
                5% {
                  opacity: 1;
                  -ms-transform: translateY(0px);
                }
                17% {
                  opacity: 1;
                  -ms-transform: translateY(0px);
                }
                20% {
                  opacity: 0;
                  -ms-transform: translateY(30px);
                }
                80% {
                  opacity: 0;
                }
                100% {
                  opacity: 0;
                }
              }
              
              @keyframes rotateWord {
                0% {
                  opacity: 0;
                }
                2% {
                  opacity: 0;
                  -webkit-transform: translateY(-30px);
                  transform: translateY(-30px);
                }
                5% {
                  opacity: 1;
                  -webkit-transform: translateY(0px);
                  transform: translateY(0px);
                }
                17% {
                  opacity: 1;
                  -webkit-transform: translateY(0px);
                  transform: translateY(0px);
                }
                20% {
                  opacity: 0;
                  -webkit-transform: translateY(30px);
                  transform: translateY(90px);
                }
                80% {
                  opacity: 0;
                }
                100% {
                  opacity: 0;
                }
              }
        }  
        p {
            color: #2b2b2b;
            font-size: 25px;
            font-weight: 400;
            padding-bottom: 30px;
        }
        .hero-cta {
            a {
                font-size: 30px;
                font-weight: 900;
                color: #fff;
                background-color: #f36c2a;
                border: 2px solid #f36c2a;
                border-radius: 25px;
                padding: 4px 24px;
                &:hover {
                    border: 2px solid #f36c2a;
                    color: #f36c2a;
                    background-color: #fff;
                }
            }
        }
    }
    .hero {
        .box {
            position: absolute;
            top: 0;
            transform: rotate(80deg);
            left: 120px;
            @include bp(laptop) {
              left: 0;
            }
            @include bp(tablet-all) {
              left: -100px;
            }
            @include bp(mobile-all) {
              left: 0;
              top: -600px;
            }
            .wave {
                position: fixed;
                top: 0;
                left: 150px;
                opacity: .7;
                position: absolute;
                top: 1%;
                left: 10%;
                background: #fb7b11;
                width: 1100px;
                height: 1200px;
                margin-left: -300px;
                margin-top: -300px;
                transform-origin: 50% 48%;
                border-radius: 43%;
                animation: 50s linear infinite drift;
            }
            .wave.-two {
                animation: 25s linear infinite drift;
                opacity: .1;
                background: #f36833;
                position: fixed;
            }
            .wave.-three {
                animation: 34.5s linear infinite drift;
                position: fixed;
                background-color: #f26b38;
            }
            @keyframes drift {
                from {
                    transform: rotate(0)
                }

                from {
                    transform: rotate(360deg)
                }
            }
        }
        .icon-hero {
          @include bp(mobile-all) {
            position: relative;
            display: flex;
          }
            .icon-box.hero-comment {
                i::before {
                    content: "\f27a";
                    position: absolute;
                    left: 40%;
                    transform: translateX(-50%);
                    top: 20%;
                    color: #fff;
                    @include bp(mobile-all) {
                      left: 25%;
                      top: 34px;
                    }
                    
                }
            }
            .icon-box.hero-at {
                i::before {
                    content: "\f1fa";
                    position: absolute;
                    left: 10%;
                    transform: translateX(-50%);
                    top: 5%;
                    color: #fff;
                    @include bp(mobile-all) {
                      top: -50px;
                    }
                }
            }
            .icon-box.hero-pen {
                i::before {
                    content: "\f304";
                    position: absolute;
                    left: 10%;
                    transform: translateX(-50%);
                    top: 50%;
                    color: #fff;
                    @include bp(mobile-all) {
                      top: -61px;
                      left: 62%;
                      color: #f26b38;
                    }
                }
            }
            .icon-box.hero-code {
                i::before {
                    content: "\f121";
                    position: absolute;
                    left: 38%;
                    transform: translateX(-50%);
                    top: 65%;
                    color: #fff;
                    @include bp(mobile-all) {
                      top: 61px;
                      left: 62%;
                      color: #f26b38;
                    }
                }
            }
            .icon-box {
              @include bp(mobile-all) {
                width: 25%;
                position: relative;
              }
                i.fa {
                    font-weight: 900;
                    font-size: 110px;
                }
            }
        }
    }
}


// Why section

.why-section {
    position: relative;
    padding: 60px 0 70px;
    margin-top: 70px;
    background-color: #ededed;
    .why-shape {
        position: absolute;
        top: -78px;
        left: 0;
        right: 0;
        height: fit-content;
        svg {
            transform: rotate(180deg);
            width: calc(100% + 1.3px);
            height: 78px;
            .elementor-shape-fill {
                fill: #EDEDED;
            }
            
        }
    }
    .why-shape-reverse {
        z-index: 5;
        top: 0;
        svg {
            transform: rotate(0deg);
            width: calc(100% + 1.3px);
            height: 78px;
        }
    }
    .why-shape-white {
      position: relative;
      top: 80px;
      z-index: 9;
      path {
        fill: #fff!important;
      }
    }
    .why-overlay {
        position: absolute;
        height: 100%;
        top: 0px;
        left: 0;
        right: 0;
        opacity: .08;
        z-index: 1;
        background-attachment: fixed;
    }
    .why-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        z-index: 9;
        p {
            text-align: center;
        }
        .above-title {
            font-size: 25px;
            font-weight: 300;
            color: #000;
            padding-bottom: 20px;
            @include bp(tablet-all) {
              font-size: 21px;
              padding-bottom: 10px;
              margin-top: 0px;
            }
        }
        h2 {
            color: #f36c2a;
            font-size: 60px;
            font-weight: 800;
            padding-bottom: 30px;
            margin-top: 10px;
            border: none;
            @include bp(tablet-all) {
              font-size: 52px;
              padding-bottom: 20px;
              margin-top: 0px;
            }
        }
    }
    .why-scores {
      z-index: 9;
      padding-top: 50px;
      .why-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        .why-bold {
          color: #f36c2a;
          font-weight: 800;
          font-size: 69px;
          line-height: 1;
        }
        .why-text {
          color: #000;
          font-size: 30px;
          font-weight: 400;
          line-height: .9em;
        }
      }
    }
}

///// Services


.services {
  @include bp(tablet-all) {
    margin-bottom: 50px;
  }
  .services-title-row {
    margin: 0 auto;
    p {
      font-size: 25px;
      font-weight: 300;
      color: #000;
      text-align: center;
      margin-top: 30px;
      @include bp(tablet-all) {
        font-size: 21px;
        padding-bottom: 10px;
        margin-top: 40px;
      }
    }
    h2 {
      color: #f36c2a;
      font-size: 60px;
      font-weight: 800;
      padding-bottom: 60px;
      margin-top: 10px;
      text-align: center;
      @include bp(tablet-all) {
        font-size: 52px;
        padding-bottom: 35px;
        margin-top: 0px;
      }
    }
  }
  .row.parent {
    justify-content: center;
    .services-phone-wrapper{
      img {
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        display: block;
        opacity: 1;
        @include bp(mobile) {
          width: 80%;
          margin: 0 auto;
        }
      }
      .hide-phone {
        display: none;
        opacity: 0;
        transition: opacity 200ms, display 200ms;
      }
    }
    .service-wrap {
      display: flex;
      align-items: center;
      .services-wrapper {
        width: 100%;
        .service-wrapper {
          .services-box {
            position: relative;
            display: flex;
            background-color: transparent;
            background-image: linear-gradient(30deg, #F36C2A 0%, #FDA24C 100%);
            border-radius: 25px 25px 25px 25px;
            padding: 5px 20px;
            margin-bottom: 8px;
            p {
              font-size: 25px;
              font-weight: bold;
              color: #FFFFFF;
              padding-left: 10px;
              @include bp(laptop) {
                font-size: 21px;
              }
            }
            .services-img-box {
              height: 38px;
              width: 38px;
              img {
                width: 100%;
              }
              
            }
            i::before {
              color: #fff;
              position: absolute;
              right: 16px;
              top: 15px;
            }
          }
          .faq-answer-holder {
            display: none;
            border: 1px solid #eee;
            border-radius: 25px;
            padding: 15px;
            margin-bottom: 15px;
            p {
              @include bp(laptop) {
                font-size: 19px;
                line-height: 24px;
              }
            }
            a {
              background-color: #F36C2A;
              border: none;
              margin-top: 20px;
              border-radius: 25px;
              color: white;
              padding: 10px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 15px;
              font-weight: 700;
              border: 1px solid #F36C2A;
              &:hover {
                background-color: #fff;
                color: #F36C2A;
  
                
              }
            }
          }
        }
      }
    }
  }
}



///// Choose test ///// 
$view-height: 100vh;
$view-width: 100vw;
.choose-test {
  height: $view-width;  
  width: $view-height;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  overflow-x: hidden;
  overflow-y: auto;
  @include bp(desktop-xlg) {
    width: 80vh;
  }
  @include bp(desktop) {
    width: 62vh;
  }
  @include bp(tablet-lg) {
    width: 74vh;
  }
  @include bp(tablet-all) {
    width: 54vh;
  }
  @include bp(mobile-all) {
    width: 50vh;
  }  
    .sub-container {
      transform: rotate(90deg) translateY(-100%);
      transform-origin: left top;
      white-space: nowrap;
      
      .child {
        width: $view-width;
        height: $view-height;
        display: inline-flex;
        vertical-align:top;
        align-items: center;
        justify-content: center;
        white-space: break-spaces;
        text-align: center;
        padding: 100px 70px;
        flex-direction: column;
        background-color: #f2f0f0;
        @include bp(desktop-xlg) {
          height: 80vh;
        }
        @include bp(desktop) {
          height: 62vh;
        }
        @include bp(tablet-lg) {
          height: 74vh;
        }
        @include bp(tablet-all) {
          height: 54vh;
          padding: 40px 20px;
        }
        @include bp(mobile-all) {
          height: 50vh;
          width: 100vw;
        }
        h2 {
          color: #f36c2a;
          font-size: 60px;
          font-weight: 800;
          padding-bottom: 60px;
          margin-top: 10px;
          text-align: center;
          @include bp(tablet-all) {
            font-size: 48px;
            padding-bottom: 30px;
          }
        }
        p {
          @include bp(mobile-all) {
            font-size: 16px;
          }
        }
      }
    }
}


////// Clients ///// 

$speed: 75s;
.clients {
  margin-top: -640px;
  @include bp(laptop) {
    margin-top: -270px;
  }
  @include bp(mobile-all) {
    margin-top: -120px;
  }
  @include bp(mobile) {
    margin-top: 63px;
  }
  @include bp(mobile-xs) {
    margin-top: 120px;
  }
}
.marquee__seperator {
  a {
    img {
      width: 200px;
      height: 100px;
      object-fit: contain;
    }
  }
}
.marquee__item {
  display: flex;
}
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  
  &:hover &__item { animation-play-state: paused; }
  
  &__seperator { margin: 0 2rem; }
  
  &__item {
    display: inline-block;
    will-change: transform;
    animation: marquee $speed linear infinite;
    display: flex;
  }
}

@keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


// Styling
.marquee {
  padding: 1rem 0;
  color: #fff;
  display: flex;
}



///// Form 

.form-section {
  padding: 136px 0;
  background-color: transparent;
  background-image: linear-gradient(140deg,#f36c2a 0,#fda24c 100%);
  position: relative;
  margin-top: 50px;

  .form-wrapper {
    margin: 0 auto;
    padding: 5px;
    border-radius: 30px;
    background: #c2c0c0;
    border: 1px solid #525151;
    .form-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px;
      border: 35px solid #000;
      border-radius: 30px;
      background: #fff;
      position: relative;
      @include bp(mobile) {
        padding: 30px;
      }
      &:hover .form-animation-div {
        display: block;
        transition: ease-in-out 0.3s;
      }
      .form-animation-div {
        display: none;
        position: absolute;
        z-index: 99;
        width: 249px;
        bottom: 12px;
        svg {
          path {
            stroke-dasharray: 1;
            stroke-dashoffset: 2;
            animation: lineanimation 1s cubic-bezier(0.4, 0, 0.2, 1)  alternate ;
            @keyframes lineanimation {
              0% {
                stroke-dashoffset: 1;
              }
              100% {
                stroke-dashoffset: 0;
              }
          }
          }
        }
      }
      p {
        font-size: 25px;
        font-weight: 300;
        margin-bottom: 10px;
      }
      h3 {
        color: #f36c2a;
        font-family: Nunito,Sans-serif;
        font-size: 45px;
        font-weight: 800;
        margin-bottom: 20px;
        @include bp(mobile) {
          font-size: 30px;
        }
      }
      .wpcf7 {
        .form-wr {
          display: flex;
          flex-direction: column;
          width: 520px;
          align-items: center;
          width: 100%;
          label.field {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 10px;
            .wpcf7-form-control-wrap {
              width: 100%;
              input {
                width: 100%;
                background-color: #fff;
                border-width: 0 1px 1px;
                border-radius: 25px 25px 25px 25px;
                font-family: Nunito,Sans-serif;
                font-size: 20px;
                font-weight: 400;
                color: #000;
                height: 45px;
                padding: 5px 15px;
              }
              textarea {
                border: 1px solid #69727d;
                padding: 5px 15px;
                background-color: #fff;
                border-width: 0 1px 1px;
                border-radius: 25px 25px 25px 25px;
                width: 100%;
                font-family: Nunito,Sans-serif;
                font-size: 20px;
                font-weight: 400;
                height: 67px;
              }
            }
          }
          .wpcf7-submit {
            background-color: #f36c2a;
            color: #fff;
            font-family: Nunito,Sans-serif;
            font-size: 30px;
            font-weight: 500;
            border-radius: 25px 25px 25px 25px;
            border: none;
            padding: 0px 22px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

///shape

.form-shape {
    overflow: hidden;
    position: absolute;
    left: -50px;
    width: 115%;
    line-height: 0;
    direction: ltr;
    @include bp(laptop) {
      width: 150%;
    }
    @include bp(tablet-all) {
      width: 230%;
    }
    @include bp(mobile-all) {
      width: 381%;
    }
    &.shape-bottom {
      transform: rotate(180deg);
    }
    &.shape-top {
      top: -1px;
    }
    .elementor-shape-fill {
      fill: #fff;
    }
}
