.team-header {
    background-image: linear-gradient(180deg, #F36C2A 0%, #FDA24C 100%);
    min-height: 300px;

    .header-caption {
        width: 100%;
        height: 100px;

        // overflow: hidden;
        h1 {
            color: #FFFFFF;
            font-family: "Nunito", Sans-serif;
            font-size: 55px;
            font-weight: 800;
            width: 100%;
            text-align: center;
            margin-top: 100px;
        }

    }

    .bottom {
        position: relative;
        bottom: -1px;
        transform: rotate(180deg);
    }

    .shape svg {
        display: block;
        width: calc(100% + 1.3px);
        position: initial;
        left: 50%;
    }

    .shape .shape-fill {
        fill: #fff;
        transform-origin: center;
        transform: rotateY(0deg);
        height: 450px;
    }
    
    
}

.team {
    height: 330px;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-attachment: fixed;
    

    // .bottom {
    //     position: relative;
    //     bottom: -1px;
    //     transform: rotate(180deg);
    //     .shape-fill {
    //         fill: #fff;
    //         transform-origin: center;
    //         transform: rotateY(0deg)
    //     }
    // }

    // .top {
    //     position: relative;
    //     .shape-fill {
    //         fill: #EDEDED;
    //         transform-origin: center;
    //         transform: rotateY(0deg)
    //     }
    // }

    // .shape svg {
    //     display: block;
    //     width: calc(100% + 1.3px);
    //     position: initial;
    //     left: 50%;
    //     opacity: 1;
    // }


    .team-photo{
        max-width: 60%;
        // position: absolute;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        .parent{
            .img-responsive{
                width: 60%;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                top: -200px;
            }
        }
    }
    

}

.members {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #ededed;

    .bottom {
        position: relative;
        bottom: -1px;
        transform: rotate(180deg);
        .shape-fill {
            fill: #fff;
            transform-origin: center;
            transform: rotateY(0deg)
        }
    }

    .top {
        position: relative;
        // top: 250px;
        .shape-fill {
            fill: #fff;
            transform-origin: center;
            transform: rotateY(0deg)
        }
    }

    .shape svg {
        display: block;
        width: calc(100% + 1.3px);
        position: initial;
        left: 50%;
        bottom: 0;
        opacity: 1;
    }    

    .executives{
        display: flex;
        flex-wrap: wrap;

        .exec-box{
            margin-bottom: 20px;
            // width: 100%;
            // height: auto;
            text-align: center;
            color: white;
            .exec-basic{
                border-radius: 10px;
                margin-bottom: 30px;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s; 
                &:hover{
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.29);
                    border-radius: 20px;

                }

                .parent{
                    .box-responsive {
                        border-radius: 20px 20px 0 0;
                        width: 100%;      
                    }
                }
                .executive-info{
                    border-radius: 0 0 20px 20px;
                    padding: 20px;
                    background-color: #fff;
                    .exec-name{
                        color: #F36C2A;
                        font-family: "Nunito", Sans-serif;
                        font-size: 20px;
                        font-weight: 800;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                    }
                    .exec-title{
                        color: #272727;
                        font-family: "Nunito", Sans-serif;
                        font-size: 16px;
                        text-transform: uppercase;
                    }
                }
            }
            .executive-about{
                padding: 10px;
                background-color: #FDFDFD;
                border-radius: 20px;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s; 
                &:hover{
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.29);
                    border-radius: 20px;

                }
                p{
                    font-family: "Nunito", Sans-serif;
                font-size: 18px;
                color:#7a7a7a;
                }                
            }    
        }
    }

    .employees{
        display: flex;
        flex-wrap: wrap;

        .empl-box{
            margin-bottom: 20px;
            // width: 100%;
            // height: auto;
            text-align: center;
            color: white;
            .empl-basic{
                border-radius: 10px;
                margin-bottom: 30px;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s; 
                &:hover{
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.29);
                    border-radius: 20px;

                }

                .parent{
                    .box-responsive {
                        border-radius: 20px 20px 0 0;
                        width: 100%;      
                    }
                }
                .employee-info{
                    border-radius: 0 0 20px 20px;
                    padding: 20px;
                    background-color: #fff;
                    .empl-name{
                        color: #F36C2A;
                        font-family: "Nunito", Sans-serif;
                        font-size: 20px;
                        font-weight: 800;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                    }
                    .empl-title{
                        color: #272727;
                        font-family: "Nunito", Sans-serif;
                        font-size: 16px;
                        text-transform: uppercase;
                    }
                }
            }
            .employee-about{
                padding: 10px;
                background-color: #FDFDFD;
                border-radius: 20px;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s; 

                &:hover{
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.29);
                    border-radius: 20px;

                }
                p{
                    font-family: "Nunito", Sans-serif;
                font-size: 18px;
                color:#7a7a7a;
                }                
            }    
        }
    }

    // .employees{
    //     display: flex;
    //     // width: 100%;
    //     flex-wrap: wrap;
    //     .empl-box{
    //         margin-bottom: 20px;
    //         width: 100%;
    //         height: auto;
    //         object-fit: cover;
    //         border-radius: 10px;
    //         overflow: hidden;
            
    //         position: relative;
    //         text-align: center;
    //         color: white;
    //         justify-content: center;
    //         margin-left: auto;
    //         margin-right: auto;
    
            
            
    //         .box-responsive {
    //             width: 100%;      
    //         }
    //         .label {
    //             position: absolute;
    //             top: 50%;
    //             left: 50%;
    //             transform: translate(-50%, -50%);
    //             width: 100% ;
    
    //             p{
    //                 font-family: "Nunito", Sans-serif;
    //                 font-size: 34px;
    //                 font-weight: bold;
    //                 color: #FFFFFF;
    //                 margin-bottom: 40px;
    //                 -webkit-transition: all 2s;
    //             -moz-transition: all 2s;
    //             -o-transition: all 2s;
    //             transition: all 2s;
    //             }
    //             .serv-more{
    //                 color: #FFFFFF;
    //                 font-size: 15px;
    //                 padding: 12px 24px;
    //                 border-color: #FFFFFF;
    //                 border-radius: 25px;
    //                 margin-left: auto;
    //                 margin-right: auto;
    //                 border: 2px solid #fff;
    //                 background: transparent;
    //                 -webkit-transition: all 2s;
    //             -moz-transition: all 2s;
    //             -o-transition: all 2s;
    //             transition: all 2s;
    //             }
    //         }
    
    //     }
    // }
    
    

    

}